* {
  margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
.encabezado {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #000;
}